* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(120deg, orange, yellow, white);
}
a {
  color: black;
}

a:visited {
  
  color: ваш цвет red;
      }
      
a:hover {
  color: red;
      }
	  ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
}
@media (min-width: 780px) {
  .container {
    width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 767px) {
  .container {
    width: 1170px;
  }
}
.flat-page header {
  min-height: 80px;
  display: flex;
}
      
@media (max-width: 767px) {
  .flat-page header {
    min-height: auto;
    display: initial;
  }
}
.flat-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
      
@media (max-width: 767px) {
  .flat-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.flat-page header .links {
  display: flex;
  align-items: center;
}
      
@media (max-width: 900px) {
  .flat-page header .links {
    text-align: center;
    gap: 20px;
  }
}
.flat-page header .links li {
  margin-left: 10px;
  color:red;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 900px) {
  .flat-page header .links li {
    margin-left: auto;
  }
}
.flat-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: red;
}
.flat-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
      
@media (max-width: 767px) {
  .flat-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
      
@media (max-width: 767px) {
  .flat-page .content .info {
    text-align: center;
    margin-bottom: 15px 
  }
}
.flat-page .content .info h1 {
  color: white;
  font-size: 38px;
}
.flat-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: white;
}
.flat-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: red;
}
.flat-page .content .image img {
  max-width: 120%;
  margin-top: 50px;
}

